

a {
    color: black;   
}

a:link {
    text-decoration: none;
}
  
body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > main {
    grid-area: main;
    background-color:rgba(248, 94, 4, 0.6);  
    padding: 0 60px 60px 20px;
}

body {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "head main"
      "nav main"
      "nav foot";
    background-color:rgb(233, 199, 5, 0.5);  
    
  }

body > nav ul {
    margin-top: 0;
    padding-left: 1em;
}

body > nav ul li {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'RocknRoll One';
}

body > nav ul li i {
    position: relative;
    top: 6px;
}

#pic{
  
    width: 300px;
    height: 300px;
  
}





